.vscode/
__pycache__/
.ipynb_checkpoints/
model/
model_runs/
model_hparam_runs/
test_outputs/
notebooks/
.notebooks_ipynb/
catboost_info/
*.pyc
.devcontainer/
training_data/


# Generated figures
results/figures/
